.logotip {
    background-image: url("https://sun9-24.userapi.com/s/v1/ig2/9Kc2reYH7ECBqfuNCJKkNKS0IDd65OCWL4iTBOL2I2-aRF8MfhvXyRe2srivQislrPyNPXDvn9Fjea2QXUzLOquB.jpg?quality=95&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,400x400&from=bu&cs=400x0");
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
}
